In [1]:
%load_ext sql
%sql postgresql://postgres:postgres@localhost/churn

Connecting to 'postgresql://postgres:***@localhost/churn'

In [2]:
%sql set search_path to socialnet7;

Running query in 'postgresql://postgres:***@localhost/churn'

++
||
++
++

RATIO METRIC

In [3]:
%%sql
SET
	SEARCH_PATH TO SOCIALNET7;

WITH
	NUM_METRIC AS (
		SELECT
			ACCOUNT_ID,
			METRIC_TIME,
			METRIC_VALUE AS NUM_VALUE
		FROM
			METRIC M
			INNER JOIN METRIC_NAME N ON M.METRIC_NAME_ID = N.METRIC_NAME_ID
			AND N.METRIC_NAME = 'adview_per_month'
			AND M.METRIC_TIME BETWEEN '2020-04-01' AND '2020-05-10'
		ORDER BY
			METRIC_TIME
	),
	DEN_METRIC AS (
		SELECT
			ACCOUNT_ID,
			METRIC_TIME,
			METRIC_VALUE AS DEN_VALUE
		FROM
			METRIC M
			INNER JOIN METRIC_NAME N ON M.METRIC_NAME_ID = N.METRIC_NAME_ID
			AND N.METRIC_NAME = 'post_per_month'
			AND M.METRIC_TIME BETWEEN '2020-04-01' AND '2020-05-10'
		ORDER BY
			METRIC_TIME
	)
SELECT
	D.ACCOUNT_ID,
	D.METRIC_TIME,
	NUM_VALUE,
	DEN_VALUE,
	CASE
		WHEN DEN_VALUE > 0 THEN COALESCE(NUM_VALUE, 0.0) / DEN_VALUE
		ELSE 0
	END AS METRIC_VALUE
FROM
	DEN_METRIC D
	LEFT OUTER JOIN NUM_METRIC N ON N.ACCOUNT_ID = D.ACCOUNT_ID
	AND N.METRIC_TIME = D.METRIC_TIME

Running query in 'postgresql://postgres:***@localhost/churn'

70733 rows affected.

+------------+---------------------+-----------+-----------+--------------+
| account_id |     metric_time     | num_value | den_value | metric_value |
+------------+---------------------+-----------+-----------+--------------+
|    1806    | 2020-04-05 00:00:00 |    3.0    |    5.0    |     0.6      |
|    9592    | 2020-04-05 00:00:00 |    4.0    |    9.0    |  0.44444445  |
|    3600    | 2020-04-05 00:00:00 |    32.0   |    34.0   |  0.9411765   |
|    3598    | 2020-04-05 00:00:00 |    5.0    |    3.0    |  1.6666666   |
|    3597    | 2020-04-05 00:00:00 |    4.0    |    9.0    |  0.44444445  |
|    1807    | 2020-04-05 00:00:00 |    14.0   |    12.0   |  1.1666666   |
|    3596    | 2020-04-05 00:00:00 |    32.0   |    13.0   |  2.4615386   |
|    3595    | 2020-04-05 00:00:00 |    61.0   |    27.0   |  2.2592592   |
|    3594    | 2020-04-05 00:00:00 |    45.0   |    30.0   |     1.5      |
|    3593    | 2020-04-05 00:00:00 |    13.0   |    9.0    |  1.4444444   |
+------------+---------------------+-----------+-----------+--------------+
Truncated to displaylimit of 10.

TOTAL METRIC

In [4]:
%%sql 
SET
	SEARCH_PATH TO SOCIALNET7;

SELECT
	ACCOUNT_ID,
	METRIC_TIME,
	--STRING_AGG(METRIC_VALUE::TEXT, '+') AS METRIC_SUM,
	15,
	SUM(METRIC_VALUE) AS METRIC_TOTAL
FROM
	METRIC M
	INNER JOIN METRIC_NAME N ON M.METRIC_NAME_ID = N.METRIC_NAME_ID
	AND METRIC_NAME IN ('like_per_month', 'dislike_per_month')
WHERE
	METRIC_TIME BETWEEN '2020-03-01' AND '2020-04-01'
GROUP BY
	ACCOUNT_ID,
	METRIC_TIME

Running query in 'postgresql://postgres:***@localhost/churn'

55483 rows affected.

+------------+---------------------+----------+--------------+
| account_id |     metric_time     | ?column? | metric_total |
+------------+---------------------+----------+--------------+
|    7914    | 2020-03-29 00:00:00 |    15    |    118.0     |
|    2417    | 2020-03-01 00:00:00 |    15    |    105.0     |
|    4080    | 2020-03-01 00:00:00 |    15    |     47.0     |
|   10169    | 2020-03-15 00:00:00 |    15    |     96.0     |
|    5760    | 2020-03-22 00:00:00 |    15    |     16.0     |
|   10283    | 2020-03-01 00:00:00 |    15    |     7.0      |
|    1034    | 2020-03-01 00:00:00 |    15    |    181.0     |
|   11587    | 2020-03-15 00:00:00 |    15    |     3.0      |
|    1621    | 2020-03-01 00:00:00 |    15    |    201.0     |
|    5985    | 2020-03-08 00:00:00 |    15    |     1.0      |
+------------+---------------------+----------+--------------+
Truncated to displaylimit of 10.

percentage change

In [5]:
%%sql
SET
	SEARCH_PATH TO SOCIALNET7;

WITH
	END_METRIC AS (
		SELECT
			ACCOUNT_ID,
			METRIC_TIME,
			METRIC_VALUE AS END_VALUE
		FROM
			METRIC M
			INNER JOIN METRIC_NAME N ON M.METRIC_NAME_ID = N.METRIC_NAME_ID
			AND N.METRIC_NAME = 'newfriend_per_month'
			AND METRIC_TIME BETWEEN '2020-04-01' AND '2020-05-10'
	),
	START_METRIC AS (
		SELECT
			ACCOUNT_ID,
			METRIC_TIME,
			METRIC_VALUE AS START_VALUE
		FROM
			METRIC M
			INNER JOIN METRIC_NAME N ON M.METRIC_NAME_ID = N.METRIC_NAME_ID
			AND N.METRIC_NAME = 'newfriend_per_month'
			AND METRIC_TIME BETWEEN '2020-04-01'::TIMESTAMP - INTERVAL '4 week' AND '2020-05-10'::TIMESTAMP - INTERVAL '4 week'
		ORDER BY
			METRIC_TIME
	)
SELECT
	S.ACCOUNT_ID,
	S.METRIC_TIME + INTERVAL '4 week' AS END_TIME,
	START_VALUE,
	END_VALUE,
	(COALESCE(END_VALUE, 0.0) / START_VALUE) - 1.0 AS PERCENT_CHANGE_PER_MONTH
FROM
	START_METRIC S
	LEFT OUTER JOIN END_METRIC E ON S.ACCOUNT_ID = E.ACCOUNT_ID
	AND E.METRIC_TIME = (S.METRIC_TIME + INTERVAL '4 week')
WHERE
	START_VALUE > 0

Running query in 'postgresql://postgres:***@localhost/churn'

59663 rows affected.

+------------+---------------------+-------------+-----------+--------------------------+
| account_id |       end_time      | start_value | end_value | percent_change_per_month |
+------------+---------------------+-------------+-----------+--------------------------+
|     0      | 2020-04-05 00:00:00 |     3.0     |    2.0    |   -0.3333333134651184    |
|     0      | 2020-04-12 00:00:00 |     3.0     |    2.0    |   -0.3333333134651184    |
|     0      | 2020-04-19 00:00:00 |     1.0     |    5.0    |           4.0            |
|     0      | 2020-04-26 00:00:00 |     2.0     |    4.0    |           1.0            |
|     0      | 2020-05-03 00:00:00 |     2.0     |    5.0    |           1.5            |
|     0      | 2020-05-10 00:00:00 |     2.0     |    5.0    |           1.5            |
|     1      | 2020-04-05 00:00:00 |     3.0     |    2.0    |   -0.3333333134651184    |
|     1      | 2020-04-12 00:00:00 |     2.0     |    2.0    |           0.0            |
|     1      | 2020-05-03 00:00:00 |     2.0     |    1.0    |           -0.5           |
|     1      | 2020-05-10 00:00:00 |     2.0     |    1.0    |           -0.5           |
+------------+---------------------+-------------+-----------+--------------------------+
Truncated to displaylimit of 10.

Time since an event

In [28]:
%%sql

with 
    date_vals as 
    (
        select 
            i::date as metric_date
            from 
            generate_series('2020-05-03','2020-05-10','7 day'::interval) i
    ),
    
    last_event as 
    (
        select account_id, metric_date, max(event_time)::date as last_date
            from event e 
            inner join date_vals d 
            on e.event_time::date <= metric_date
            inner join event_type t on t.event_type_id = e.event_type_id
            where t.event_type_name = 'like'
            group by account_id, metric_date
    )
    
select account_id, metric_date, last_date, metric_date - last_date as days_since_last_event
    from last_event
order by days_since_last_event desc

Running query in 'postgresql://postgres:***@localhost/churn'

26955 rows affected.

+------------+-------------+------------+-----------------------+
| account_id | metric_date | last_date  | days_since_last_event |
+------------+-------------+------------+-----------------------+
|    7389    |  2020-05-10 | 2020-01-09 |          122          |
|    3425    |  2020-05-10 | 2020-01-10 |          121          |
|    9349    |  2020-05-10 | 2020-01-12 |          119          |
|    2318    |  2020-05-10 | 2020-01-13 |          118          |
|    1653    |  2020-05-10 | 2020-01-14 |          117          |
|    7389    |  2020-05-03 | 2020-01-09 |          115          |
|    3425    |  2020-05-03 | 2020-01-10 |          114          |
|    9349    |  2020-05-03 | 2020-01-12 |          112          |
|    2318    |  2020-05-03 | 2020-01-13 |          111          |
|    185     |  2020-05-10 | 2020-01-20 |          111          |
+------------+-------------+------------+-----------------------+
Truncated to displaylimit of 10.

In [31]:
%%sql
select * from metric where metric_name_id = 31

Running query in 'postgresql://postgres:***@localhost/churn'

125736 rows affected.

+------------+---------------------+----------------+--------------+
| account_id |     metric_time     | metric_name_id | metric_value |
+------------+---------------------+----------------+--------------+
|     0      | 2020-03-01 00:00:00 |       31       |     10.0     |
|     0      | 2020-03-08 00:00:00 |       31       |     1.0      |
|     0      | 2020-03-15 00:00:00 |       31       |     8.0      |
|     0      | 2020-03-22 00:00:00 |       31       |     15.0     |
|     0      | 2020-03-29 00:00:00 |       31       |     5.0      |
|     0      | 2020-04-05 00:00:00 |       31       |     1.0      |
|     0      | 2020-04-12 00:00:00 |       31       |     0.0      |
|     0      | 2020-04-19 00:00:00 |       31       |     5.0      |
|     0      | 2020-04-26 00:00:00 |       31       |     12.0     |
|     0      | 2020-05-03 00:00:00 |       31       |     6.0      |
+------------+---------------------+----------------+--------------+
Truncated to displaylimit of 10.

In [34]:
%%sql
select * from metric_name order by metric_name_id desc

Running query in 'postgresql://postgres:***@localhost/churn'

18 rows affected.

+----------------+-------------------------+
| metric_name_id |       metric_name       |
+----------------+-------------------------+
|       31       |   days_since_newfriend  |
|       30       | new_friends_pcnt_change |
|       27       |     dislike_percent     |
|       26       |      total_opinions     |
|       25       |  unfriend_per_newfriend |
|       24       |     post_per_message    |
|       23       |      like_per_post      |
|       22       |    reply_per_message    |
|       21       |      adviw_per_post     |
|       8        |      account_tenure     |
+----------------+-------------------------+
Truncated to displaylimit of 10.

245 92759

243 14967